/* src/App.css */

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-gantt/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';
@import '../node_modules/@syncfusion/ej2-treegrid/styles/material.css';

[data-status="completed"] .e-gantt-child-taskbar-inner-div,
[data-status="completed"] .e-gantt-child-progressbar-inner-div {
  background-color: #6E6EDB !important;
  outline: 1px solid #6E6EDB !important;
  border: 1px solid #6E6EDB !important;
}

[data-status="delayed-completed"] .e-gantt-child-taskbar-inner-div,
[data-status="delayed-completed"] .e-gantt-child-progressbar-inner-div {
  background-color: #EEB209 !important;
  outline: 1px solid #EEB209 !important;
  border: 1px solid #EEB209 !important;
}

[data-status="delayed-inProgress"] .e-gantt-child-taskbar-inner-div,
[data-status="delayed-inProgress"] .e-gantt-child-progressbar-inner-div {
  /* background-color: #ec8f8c !important;
  outline: 1px solid #ec8f8c !important;
  border: 1px solid #ec8f8c !important; */
  background-color: #F58220 !important;
  outline: 1px solid #F58220 !important;
  border: 1px solid #F58220 !important;
}

[data-status="inProgress"] .e-gantt-child-taskbar-inner-div,
[data-status="inProgress"] .e-gantt-child-progressbar-inner-div {
  background-color: #4AA147 !important;
  outline: 1px solid #4AA147 !important;
  border: 1px solid #4AA147 !important;
}

[data-status="notStarted"] .e-gantt-child-taskbar-inner-div,
[data-status="notStarted"] .e-gantt-child-progressbar-inner-div {
  background-color: #dde3ea !important;
  outline: 1px solid #dde3ea !important;
  border: 1px solid #dde3ea !important;
}

[data-status="Rejected"] .e-gantt-child-taskbar-inner-div,
[data-status="Rejected"] .e-gantt-child-progressbar-inner-div {
  background-color: #FF6060 !important;
  outline: 1px solid #FF6060 !important;
  border: 1px solid #FF6060 !important;
}

